APP_NAME=carthings.vn
APP_ENV=develop
APP_KEY=base64:s7q+vTExr/RuaydspCUqALessTZl2ucJwDXHwJUMyo8=
APP_DEBUG=true
APP_URL=http://0.0.0.0

DB_CONNECTION=mysql
DB_HOST=carthings-develop.ccywgdsz4q0c.ap-southeast-1.rds.amazonaws.com
DB_PORT=3306
DB_DATABASE=task_manager
DB_USERNAME=carthings_dev
DB_PASSWORD=vrKlqpRqPzDXHMci6zHX

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

