APP_NAME=carthings.vn
APP_ENV=develop
APP_KEY=base64:s7q+vTExr/RuaydspCUqALessTZl2ucJwDXHwJUMyo8=
APP_DEBUG=true
APP_URL=http://0.0.0.0

DB_CONNECTION=mysql
DB_HOST=mysql-docker
DB_PORT=3306
DB_DATABASE=carthings
DB_USERNAME=root
DB_PASSWORD=Dinhdu@960908

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

